<div class="page-form">
<center>
	<div class="title">Reset password</div>
	<div class="row has-margin" ng-if="error != ''">
		<bf-form-error message="error"></bf-form-error>
	</div>
	<div class="row has-margin-2x" ng-if="error != ''">
		<a ui-sref="forget_password" class="btn btn-white">Request again</a>
	</div>
	<div class='row' ng-if="error === ''">
		<div class="row margin-top-30">
			<input ui-bundle-input-auto-fill class="fade-text" type="password" placeholder="Password" ng-model="user.password" ng-return="onSave()" />
		</div>
		<div class="row margin-top-20">
			<input ui-bundle-input-auto-fill class="fade-text" type="password" placeholder="Confirm password" ng-model="user.cpassword" ng-return="onSave()" />
		</div>
		<div class="row margin-top-30" ng-if="error != ''">
			<bf-form-error message="error"></bf-form-error>
		</div>
		<div class="row margin-top-30">
			<button class="btn btn-white" ng-click="onSave()" ng-disabled="!canSave()">Save</button>
		</div>
	</div>
</center>
</div>